@CHARSET "ISO-8859-1";

.hover-hand th{
	cursor: pointer;
}

.vertical-center {
	min-height: 100%; /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */
	display: flex;
	align-items: center;
}

.table>tbody>tr>td {
	vertical-align: middle !important;
}

.table>tbody>tr>td>.progress {
	margin-bottom: 0px !important;
}