
<!-- <div class="container"> -->
	<div class="panel panel-default">
		<div class="panel-heading">{{ baseDir }}</div>
		<div class="panel-body">
			<label class="btn btn-info btn-file"> Add <input type="file" file-input ng-model="selectedFileList" multiple
				style="display: none;">
			</label>
			<div class="btn-group btn-md btn-sm btn-xs">
				<button type="button" class="btn btn-success">Start</button>
				<button type="button" class="btn btn-warning disabled">Stop</button>
				<button type="button" class="btn btn-danger">Delete</button>
			</div>
			<br> <br>
			<div class="table-responsive">
				<table
					class="table table-condensed table-hover table-xs table-sm table-md">
					<thead class="thead-default">
						<tr class="hover-hand">
							<th class="col-xs-1" ng-click="orderByField('index')">#</th>
							<th class="col-xs-4" ng-click="orderByField('name')">Name <i
								ng-show="propertyName === 'name' && reverse === false"
								class="fa fa-fw fa-sort-asc"></i><i
								ng-show="propertyName === 'name' && reverse === true"
								class="fa fa-fw fa-sort-desc"></i></th>
							<th class="col-xs-3" ng-click="orderByField('progress')">Progress<i
								ng-show="propertyName === 'progress' && reverse === false"
								class="fa fa-fw fa-sort-asc"></i><i
								ng-show="propertyName === 'progress' && reverse === true"
								class="fa fa-fw fa-sort-desc"></i></th>
							<th class="col-xs-1" ng-click="orderByField('status')">Status<i
								ng-show="propertyName === 'status' && reverse === false"
								class="fa fa-fw fa-sort-asc"></i><i
								ng-show="propertyName === 'status' && reverse === true"
								class="fa fa-fw fa-sort-desc"></i></th>
							<th class="col-xs-1" ng-click="orderByField('size')">Size<i
								ng-show="propertyName === 'size' && reverse === false"
								class="fa fa-fw fa-sort-asc"></i><i
								ng-show="propertyName === 'size' && reverse === true"
								class="fa fa-fw fa-sort-desc"></i></th>
							<th class="col-xs-2" ng-click="orderByField('lastModified')">Uploaded
								On<i
								ng-show="propertyName === 'lastModified' && reverse === false"
								class="fa fa-fw fa-sort-asc"></i><i
								ng-show="propertyName === 'lastModified' && reverse === true"
								class="fa fa-fw fa-sort-desc"></i></i>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr
							ng-repeat="file in uploadedFileList | orderBy : propertyName : reverse"
							scope="row" class="clickable-row" ng-click="selectRow(file)">
							<td class="col-xs-1">{{ $index + 1 }}</td>
							<td class="col-xs-4">{{ file.name }}</td>
							<td class="col-xs-3">
								<div class="progress">
									<div class="progress-bar bg-success" role="progressbar"
										style="width: {{ file.progress | progressPercentage }}"
										aria-valuenow="{{ file.progress }}" aria-valuemin="0"
										aria-valuemax="100">{{ file.progress |
										progressPercentage }}</div>
								</div>
							</td>
							<td class="col-xs-1">{{ file.status | translateStatus }}</td>
							<td class="col-xs-1">{{ file.size | formatFileSize }}</td>
							<td class="col-xs-2">{{ file.lastModified | date:'yyyy-MM-dd
								HH:mm:ss' }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
<!-- </div> -->