<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>File Upload</title>
<script src="js/jquery-3.2.1.min.js"></script>
<!-- <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script> -->
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
<script type="text/javascript" src="js/main.js"></script>
<!-- <script type="text/javascript" src="js/upload.js"></script> -->

<body>

<h1>Spring Boot - Multiple file upload example - AJAX</h1>

<form method="POST" enctype="multipart/form-data" id="fileUploadForm">
    <input type="file" name="files" id="files" multiple="multiple"/>
</form>

<h1>Ajax Post Result</h1>
<pre>
    <span id="result"></span>
</pre>
</body>
</html>